.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
pb_data/
frontend/dist/
backend/ender
backend/vendel
backend/pb_public/
backend/ui/dist/*
!backend/ui/dist/.gitkeep

# Modem agent binary
modem-agent/vendel-modem-agent
