# Vendel server URL
VENDEL_URL=http://localhost:8090

# Modems: comma-separated list of "device_api_key:command_port[:notify_port]"
# notify_port is optional (defaults to command_port for single-port modems)
#
# Single modem:
# MODEMS=dk_abc123:/dev/ttyUSB0:/dev/ttyUSB1
#
# Multiple modems:
# MODEMS=dk_abc123:/dev/ttyUSB0:/dev/ttyUSB1,dk_xyz789:/dev/ttyUSB2:/dev/ttyUSB3
MODEMS=dk_your_api_key:/dev/ttyUSB0:/dev/ttyUSB1
